<%- include('partials/header') %> 

<div class="container">
    <h1>Home</h1>
    <p> <%= HomeContent %> </p>
</div>


<div class="container">

    <h1>Blog Posts:</h1>

    <% BlogPosts.forEach(BlogPost => { %>
     
        <h2><%= BlogPost.BlogPostTitle %></h2>
        <p><%=  BlogPost.BlogPostContent.split(" ").splice(0,ContentSizeInHome).join(" ") + "... " %> <a href="/posts/<%= BlogPost.BlogPostURL %>"  >Read More</a> </p>

    <% }) %>

</div>
        
<%- include('partials/footer') %>  